@tailwind base;
@tailwind components;
@tailwind utilities;


.inputs{
  
  @apply border-4 px-4 py-2 rounded-xl border-gray-700;
}

.inputs:focus{
  @apply border-4 px-4 py-2 rounded-xl border-indigo-600;
}

body{
  background-image: url('./assets/images/bg.jpg'); /* Adjust the path to your image */
  background-size: cover; /* Make sure the image covers the entire body */
  background-position: center; /* Center the image horizontally and vertically */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-color: rgba(0,0,0,0.9);
}

.main{
  @apply bg-white
}